# 101 Pandas Exercises

### Source: [Selva Prabhakaran on Machine Learning Plus](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

### 001 - L1: Import Pandas and print the version number

In [2]:
import pandas as pd

In [5]:
print(pd.__version__)

1.0.3

### 002 - L1: Create a pandas series from each of the items below: a list, numpy and a dictionary

In [8]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [12]:
s1 = pd.Series(mylist)
s2 = pd.Series(myarr)
s3 = pd.Series(mydict)

### 003 - L1: Convert the series ser into a dataframe with its index as another column on the dataframe

In [18]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [25]:
pd.DataFrame(ser,index=ser.index)

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25